* {
    box-sizing: border-box;
}

body {
    background-color: #2d2d2d;
}

.container {
    display: inline-block;
    position: relative;
}

.position {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.health-container {
    position: relative;
    height: 30px;
    width: 100%;
}

#enemyHealth {
    position: absolute;
    background: blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#playerHealth {
    position: absolute;
    background: blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.health-bar {
    background-color: yellow;
    height: 30px;
}

.timer {
    background-color: red;
    height: 100px;
    width: 100px;
    flex-shrink: 0;
}
