* {
    box-sizing: border-box;
}

body {
    background-color: #2d2d2d;
    display: flex;
    justify-content: center;
    margin-top: 1rem;
}

.container {
    display: inline-block;
    position: relative;
}

.position {
    position: absolute;
    display: flex;
    width: 100%;
    align-items: center;
    padding: 20px;
}

.health-container {
    position: relative;
    height: 30px;
    width: 100%;
}

.flex-align {
    display: flex;
    justify-content: flex-end;
}

#enemyHealth {
    position: absolute;
    background: blue;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

#playerHealth {
    position: absolute;
    background: blue;
    top: 0;
    bottom: 0;
    right: 0;
    width: 100%;
}

.health-bar {
    background-color: yellow;
    height: 30px;
    width: 100%;
}

#timer {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    height: 100px;
    width: 100px;
    background-color: red;
}

#gameOver {
    align-items: center;
    justify-content: center;
    position: absolute;
    color: white;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
}
